{# Boucle sur les photos #}
{% for photo in photos %}
    <a href="#" data-toggle="modal" data-target="#modal-{{ photo.id }}">
        <img src="{{ photo.thumbnailUrl }}" alt="{{ photo.title }}">
    </a>

    {# Fenêtre modale #}
    <div class="modal fade" id="modal-{{ photo.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ photo.fullUrl }}" alt="{{ photo.title }}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
{% endfor %}