{% extends "themes/base_admin.html.twig" %}
{% block title %}liste  des messages
{% endblock %}
{% block description %}Espace d'administration des messages
{% endblock %}


{% block main %}
	<div class="fs-4">
		<h2 class="head_text text-center p-3 m-5 fs-1 border border-dark rounded shadow ">Messages recus</h2>
		{% include 'components/_alert.html.twig' %}

	</div>

	<div class="col-md-12 col-lg-12 mx-auto table-responsive">
		<table
			class=" table table-striped table-hover table-bordered text-center border border-dark ">
			{# class="table" pour responsive #}
			<thead class="head_text">
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Email</th>
					<th>Numéro de téléphone</th>
					<th>Message</th>
					<th>Envoyé le</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for contact in contacts %}
					<tr>
						<td>{{contact.id}}</td>
						<td>{{contact.lastName}}</td>
						<td>{{contact.firstName}}</td>
						<td>{{contact.email}}</td>
						<td>{{contact.phone ? contact.phone : '---'}}</td>
						<td>
							<a data-bs-toggle="modal" data-bs-target="#modal_{{contact.id}}" href="#" class="text-dark">
								<i class="fa-solid fa-book-open-reader"></i>
							</a>

							<!-- Modal -->
							<div class="modal fade" id="modal_{{contact.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="head_text modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="staticBackdropLabel">{{contact.lastName}}
												{{contact.firstName}}
											</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											{{contact.message|nl2br}}
										</div>
										<div class="modal-footer d-flex justify-content-center mb-3">
											<button type="button" class="F5EBE0 btn btn-secondary text-dark text-center " data-bs-dismiss="modal">Fermer</button>
										</div>
									</div>
								</div>
							</div>

						</td>
						<td>{{contact.createdAt | format_date}}</td>
						<td>
							<div class="btn-group custom-btn-group" role="group">
								<form method="POST" action="{{ path('admin_contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Confirmer la suppression?');">
									<input type="hidden" name="_method" value="POST">
									<input type="hidden" name="csrf_token" value="{{ csrf_token('delete_contact_' ~ contact.id) }}">
									<button type="submit" class="border border-dark btn bg-danger btn-sm custom-rounded mx-1" title="Supprimer">
										<i class="fas fa-trash-alt"></i>
										Supprimer
									</button>
								</form>
							</div>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
{% endblock %}
