{% extends 'themes/base.html.twig' %}

{% block title %}Page de vos photos
{% endblock %}

{% block description %}Voici la page de vos photos de mariage
{% endblock %}

{% block keywords %}photos, bonheur, mariage, contact
{% endblock %}

{% block main %}
	<div class="mx-auto col-auto">
		<div class="w-75 mx-auto d-flex flex-column align-items-center mt-5">
			<section id="pageContent">
				{% if categories is defined and categories is not empty %}
					{# Affichage de la liste des catégories #}
					<h2 class="text-center m-5 fs-2">Voici vos galeries !</h2>
					{% for category in categories %}
						<div class="mb-4 border border-dark rounded ">

							<h2 class="head_text text-center p-3 border-bottom border-dark rounded shadow fs-1">{{ category.name }}</h2>
							<div class="w-75 text-center fs-3 mt-4 mt-5 mx-auto">
								<p class="text-center">{{ category.description|nl2br }}</p>
							</div>
							<div class="text-center">
								<a href="{{ path('app_mariages', {'secretKey': category.secretKey}) }}" class="border border-dark btn head_text btn-block btn-lg my-3 fs-3">Voir la galerie</a>
							</div>

						</div>

					{% endfor %}
					
				{% elseif category is defined %}
					{# Affichage d'une seule catégorie #}
					<main class="row" id="singleGallery">
						<h2 class="head_text text-center p-3 border border-dark rounded shadow fs-1">{{ category.name }}</h2>
						<div class="w-75 text-center fs-3 mt-4 mt-5 mx-auto">
							<p class="text-center">{{ category.description|nl2br }}</p>
						</div>
						<figure id="galleryContainer"><img src="" alt=""/></figure>
						<ul class="list-unstyled"></ul>
						{% if is_granted('ROLE_USER') %}
							<div class="d-flex justify-content-center mt-3 me-3 p-5">
								<a href="{{ path('telecharger_photos', {'categoryId': category.id}) }}" class="border border-dark btn head_text btn-block btn-lg mx-5">
									Télécharger les photos de cette page
								</a>
							</div>
						{% endif %}
					</main>

					{# Modal pour afficher l'image en grand #}
					<div id="imageModal" class="modal_img">
						<button id="startSlideshow" class="text-dark next border btn head_text btn-block btn-lg mx-5 mt-n5">Démarrer le diaporama</button>
						<span class="close">&times;</span>
						<img class="modal-content" id="modalImage">
						<a class="prev" id="prevImage">&#10094;</a>
						<a class="next" id="nextImage">&#10095;</a>
						<div id="watermark">Propriètée du Photographe,<br>copie INTERDITE</div>
					</div>

					<script>
						const imagesPath = "{{ asset('Images/Mariages/') }}";
const categoryId = "{{ category.id }}";
const categorySecretKey = "{{ category.secretKey }}";
const categoryWeddingDateAt = {{ category.weddingDateAt.getTimestamp() }};
					</script>
					<script src="{{ asset('js/jsMariages.js') }}"></script>
				{% else %}
					<p class="text-center fs-1">Vous n'avez aucunes galerie d'enregistrée, pour le moment.</p>
					<p class="text-center fs-3">Revenez dans quelques jours.</p>
				{% endif %}
					<div class="text-center m-5">
						<a class="border border-dark btn head_text btn-block btn-lg mx-5 fs-3" href="{{path('app_welcome')}}">Retour à l'acceuil</a>
					</div>
			</section>
		</div>
	</div>
{% endblock %}
