{% extends "themes/base_admin.html.twig" %}
{% block title %}liste  des categories
{% endblock %}
{% block description %}Espace d'administration des categories
{% endblock %}


{% block main %}
	<div class="fs-4">
		<h2 class="head_text text-center p-3 m-5 fs-1 border border-dark rounded shadow ">Listes des mariages!</h2>
		{% include 'components/_alert.html.twig' %}

	</div>
	<div class="d-flex justify-content-center align-items-center my-1 p-5 ">
		<a href="{{path('admin_category_create')}}" class="w-50 border border-dark btn head_text btn-block btn-lg">Ajouter un mariage</a>
	</div>


	<div class="col-md-12 col-lg-12 mx-auto table-responsive">
		<table class=" table table-striped table-hover table-bordered text-center border border-dark ">
		{# class="table" pour responsive #}
			<thead   class="head_text">
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Créé le</th>
					<th>Modifié le</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{category.id}}</td>
						<td>{{category.name}}</td>
						<td>{{category.description ?? '...'}}</td>
						<td>{{category.createdAt | format_date}}</td>
						<td>{{category.updatedAt | format_date}}</td>
						<td>
							<div class="d-flex justify-content-center">
                            {# bouton de modification #}
                            <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class=" mx-2 border border-dark btn head_text btn-sm mr-2">Modifier</a>
                            {# bouton de suppression #}
                            <form class="d-inline" method="POST" action="{{ path('admin_category_delete', {'id': category.id}) }}">
                                <input type="hidden" name="_method" value="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token('delete_category_' ~ category.id) }}">
                                <input type="submit" class=" mx-2 border border-dark btn bg-danger btn-sm" value="supprimer" onclick="return confirm('Confirmer la suppression?')">
                            </form>
                        </div>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
{% endblock %}
