<!doctype html>
<html lang="fr" data-bs-theme="auto">
	<head>
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">
		{# <meta name="description" content="{{% block description %}{% endblock %}}"> #}
		<meta name="author" content="j-leroy">
		<meta
		name="generator" content="">
		{# <title>{{% block title %}{% endblock %}}</title> #}


		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{# jQuery #}
		{% block jQuery %}{% endblock %}

		{# DataTables #}
		{% block dataTables %}{% endblock %}

		{# Wysiwyg editor #}
		{% block ckEditor %}{% endblock %}

		{# Select2 #}
		{% block select2 %}{% endblock %}

		{# Font awesome #}
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		{# A stylesheet part of Bootstrap 5 #}
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


		<!-- Custom styles for this template -->
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
		{# Ma propre feuille de styles #}
		<link rel="stylesheet" href="{{asset('styles/app.css')}}">
		
		<!-- Custom styles for this template -->
	</head>
	<body>

		<header class="navbar sticky-top head_text flex-md-nowrap shadow" data-bs-theme="dark">
			<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-dark" href="{{path('app_welcome')}}">j-leroy.fr</a>
			<ul class="navbar-nav flex-row d-md-none">
				<li class="nav-item text-nowrap">
					<button class="nav-link px-3 text-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fa-solid fa-bars"></i>
					</button>
				</li>
			</ul>

			<div id="navbarSearch" class="navbar-search w-100 collapse">
				<input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
			</div>
	
		</header>
			<div class="container-fluid">
			<div
				class="row">
				<!-- Side bar située sur la gauche -->
				<div class="sidebar col-md-3 col-lg-2 head_text ">
					<div class="offcanvas-md offcanvas-end head_text" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="sidebarMenuLabel">j-leroy.fr</h5>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
						</div>
						<div class="">
							<div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto justify-content-center">
								<ul class="nav flex-column ">
									<li class="nav-item m-auto my-3">
										<a class="nav-link d-flex align-items-center gap-2 text-dark" aria-current="page" href="#">
											<i class="fa-solid fa-house"></i>
											Home
										</a>
									</li>
									<li class="nav-item m-auto my-3">
										<a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">

											Orders
										</a>
									</li>
									<li class="nav-item m-auto my-3">
										<a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
											Products
										</a>
									</li>
									<li class="nav-item m-auto my-3">
										<a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
											Customers
										</a>
									</li>
									<li class="nav-item m-auto my-3">
										<a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
											Reports
										</a>
									</li>
									<li class="nav-item m-auto my-3">
										<a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
											Integrations
										</a>
									</li>
								</ul>
								<ul class="nav flex-column mb-auto ">
									<li class="nav-item m-auto my-3">
										<a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
											Current month
										</a>
									</li>
									<li class="nav-item m-auto my-3">
										<a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
											Last quarter
										</a>
									</li>
									<li class="nav-item m-auto my-3">
										<a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
											Social engagement
										</a>
									</li>
									<li class="nav-item m-auto my-3">
										<a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
											Year-end sale
										</a>
									</li>
								</ul>
								<!-- ----------------ligne avant les settings--------------- -->
								<hr>
								<!-- ----------------ligne avant les settings--------------- -->
								<ul class="nav flex-column mb-auto text-center">
									<li class="nav-item my-3">
										<a class="navbar-brand col-md-3 col-lg-2  px-3 fs-6 text-dark" href="{{path('app_welcome')}}">Espace utilisateur</a>
									</li>
									<li class="nav-item my-3">
										<a class="navbar-brand col-md-3 col-lg-2  px-3 fs-6 text-dark" href="{{ path('app_logout') }}">Déconnexion</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
					<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3">
						<h2 class="head_text text-center p-3 mx-auto border border-dark rounded shadow fs-1">Bienvenu sur votre espace administrateur !</h2>
						{# {{app.user.firstName}} #}
					</div>
					<!-- --------------- boutons en dessous du titre ---------------------- -->
					<canvas class="w-75" height="300"></canvas>
				</main>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	</body>
</html>
